@import url('https://fonts.googleapis.com/css2?family=Lora&family=Raleway&family=Roboto+Mono&display=swap');

body{
    background-color: rgb(197, 226, 252);
    padding: 0;
}
.container{
    font-family: "Lora";
}

.photo{
    max-width: 200px;
    border-radius: 50%;
    border: 7px solid rgb(197, 226, 252);
}
.photo:hover{
    max-width: 300px;
    transition: 5s;
}

.info{
    display: flex;
}
.info-text{
    padding-left: 30px;
}

.card{
    background-color: rgb(153, 207, 189);
    border-radius: 15px;
    max-width: 650px; 
    margin: auto;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.card h1{
    padding-top: 10px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: brown;
    background-color: rgb(197, 226, 252);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 2s;
}
table{
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 5px;
}
table th{
    background-color: rgb(130, 132, 134);
}
table tr{
    padding: 2px;
}
table tr:nth-child(even){
    background-color: rgb(197, 226, 252);
}

.contact h2{
    text-align: center;
}

.form-row{
    display: flex;
    margin-bottom: 10px;
}

.form-row .form-group{
    margin-right: 50px;
    width: 50%;
}
.form-group input, .form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(130, 132, 134);
    font-family: inherit;
    padding: 5px 2px 10px;
}
.form-row .form-group:last-child{
    margin-right: 0;
}
.btn{
    background-color:brown;
    opacity: 0.7;
    border-radius: 15px;
    padding: 5px;
}
.btn:hover{
    opacity: 1;
    transition: 2s; 
    font-style: oblique;
}

@media(max-width:600px){
    .info{
        display: block;
        text-align: center;
    }
}

